{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div id="listbox">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
            <li>
                <a href="{% url 'tfidf:document_create' %}" class="nav-link text-white">
                    Add Document
                </a>
            </li>
        </div>
        <div id="content" class="container-fluid py-5 bg-light">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>

</html>
