{% extends "base.html" %}

{% block content %}
    {% if doc %}
        <table class="table">
                <thead>
                    <tr>
                    <th scope="col">{{ doc.document_name }}</th>
                    <th scope="col">Word</th>
                    <th scope="col">tf</th>
                    <th scope="col">idf</th>
                    </tr>
                </thead>
                <tbody>
                        {% for word_document in doc %}
                            <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ word_document.word.word_name }}</td>
                            <td>{{ word_document.word_tf }}</td>
                            <td>{{ word_document.word.idf }}</td>
                            </tr>
                        {% endfor %}

                </tbody>
        </table>
    {% else %}
        <h2>No docs:(</h2>
    {% endif %}
{% endblock %}
