{% extends "base.html" %}

{% block content %}
    <h4>Оценка важности слов</h4>
    <p>Данное приложение позволяет загружать текстовые файлы
     и высчитывать в них для каждого слова степень важности.</p>
        
    <p>Необходимо отметить, что при загрузке файлов высчитывается только tf.
    idf же высчитывается при переходе на страницу с любой таблицей.
    Т.е. что-то наподобие ленивого вычисления.
    Это позволяет сначала загрузить все файлы, и только затем вычислить idf.</p>
{% endblock %}
